<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="description" content="Projet Matcha Ecole 42">
    <meta name="keywords" content="HTML,CSS,node.js,JavaScript,MySql">
    <meta name="author" content="Antoine Jouannais / Xavier Milleron">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
<!--    
    <link rel='stylesheet' href='/stylesheets/style.css' />
-->
  </head>
  <body>
      <header>
        <div id="status">
        <% if (status) { %>
          <p><%= status %></p>
        <% } %>
        </div>
      </header>
      <h1><%= title %></h1>
      <h2>Changement de mot de passe</h2>    
	  <div class ="container">
      <form id="signin" class="form-signin" action="/chpwd" method="post">
        <h2 class="form-signin-heading">Veuillez saisir un nouveau mot de passe</h2>
         <label for="password" class="sr-only">Votre mot de passe</label>
        <input id="password" class="form-control" type="password" placeholder="Mot de passe" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" 
	title="Doit contenir 4 caractères minimum dont au moins 1 chiffre, une majuscule, une minuscule" required/>
        <label for="password" class="sr-only">Ressaisissez votre mot de passe</label>
        <input id="password" class="form-control" type="password" placeholder="Ressaisir le mot de passe" name="passwordbis" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
      </form>
    </div>
    <footer class="footer">
		<p class='text-muted'>ajouanna 2017</p> 
    </footer>
  </body>
</html>
