  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="description" content="Projet Matcha Ecole 42">
    <meta name="keywords" content="HTML,CSS,node.js,JavaScript,MySql">
    <meta name="author" content="Antoine Jouannais / Xavier Milleron">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
<!--    
    <link rel='stylesheet' href='/stylesheets/style.css' />
-->
  </head>
