<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="description" content="Projet Matcha Ecole 42">
    <meta name="keywords" content="HTML,CSS,node.js,JavaScript,MySql">
    <meta name="author" content="Antoine Jouannais / Xavier Milleron">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenue sur <%= title %>, <%= pseudo %></p>
     <div id="menu">
      <ul>
        <li><a class="menu_item" href="/todo">Todo list partagée</a></li>
        <li><a class="menu_item" href="/tchat">Tchat</a></li>
        <li><a class="menu_item" href="/logout">logout</a></li>
      </ul>
    </div>
    <footer>
      <p>ajouanna 2017</p> 
    </footer>
  </body>
</html>
