<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenue sur <%= title %></p>
    <div id="status">
    <% if (status) { %>
      <p><%= status %></p>
    <% } %>
    </div>
    <form id="login" action="/login" method="post">
      <label for="login">Votre identifiant</label>
      <input id="login" type="text" name="login" autofocus/>
      <label for="mail">Votre mot de passe</label>
      <input id="pseudo" type="password" name="password"/>
      <button type="submit">Valider</button>
    </form>
    <div>
      <a  href="/signin">Vous n'avez pas encore de compte ? Créez votre compte !</a>
    </div>
    <footer>
      <p>ajouanna 2017</p> 
    </footer>
  </body>
</html>
