<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenue sur <%= title %></p>
    <form id="login" action="/login" method="post">
      <label for="pseudo">Votre identifiant</label>
      <input id="pseudo" type="text" name="pseudo" autofocus/>
      <label for="mail">Votre email</label>
      <input id="pseudo" type="email" name="mail"/>
      <label for="mail">Votre mot de passe</label>
      <input id="pseudo" type="password" name="password"/>
      <button type="submit">Valider</button>
    </form>
    <footer>
      <p>ajouanna 2017</p> 
    </footer>
  </body>
</html>
