<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="description" content="Projet Matcha Ecole 42">
    <meta name="keywords" content="HTML,CSS,node.js,JavaScript,MySql">
    <meta name="author" content="Antoine Jouannais / Xavier Milleron">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
<!--    
    <link rel='stylesheet' href='/stylesheets/style.css' />
-->
    </head>
  <body>
     <header>
        <div id="status">
        <% if (status) { %>
          <p><%= status %></p>
        <% } %>
        </div>
      </header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="/">Matcha</a>
		</div>
	  </div>
	</nav>
	  <div class="container">
        <form id="login-recordar" class="form-signin" method="post">
	    <h1><%= title %></h1>
        <h2 class="">
          Mot de passe oublié ?
        </h2>

          <fieldset>
            <span class="help-block">
              Saisissez l'adresse email associée à votre compte
              <br>
              Nous vous enverrons des instructions pour saisir un nouveau mot de passe.
            </span>
            <div class="form-group input-group">
              <span class="input-group-addon">
                @
              </span>
              <input class="form-control" placeholder="Adresse Email" name="email" type="email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
              Envoyer
            </button>
          </fieldset>
        </form>
      </div>
    <footer class="footer">
		<p class='text-muted'>ajouanna 2017</p> 
    </footer>
    </body>
</html>
