<!DOCTYPE html>
<html>
 	<%- include('head'); %>

	<body>
     <header>
        <div id="status">
        <% if (status) { %>
          <p><%= status %></p>
        <% } %>
        </div>
      </header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="/">Matcha</a>
		</div>
	  </div>
	</nav>
	  <div class="container">
        <form id="login-recordar" class="form-signin" method="post">
	    <h1><%= title %></h1>
        <h2 class="">
          Mot de passe oublié ?
        </h2>

          <fieldset>
            <span class="help-block">
              Saisissez l'adresse email associée à votre compte
              <br>
              Nous vous enverrons des instructions pour saisir un nouveau mot de passe.
            </span>
            <div class="form-group input-group">
              <span class="input-group-addon">
                @
              </span>
              <input class="form-control" placeholder="Adresse Email" name="email" type="email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
              Envoyer
            </button>
          </fieldset>
        </form>
      </div>
	<%- include('footer'); %>
    </body>
</html>
