<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Super Chat temps réel !</title>
		<meta charset="UTF-8">
		<meta name="description" content="Projet Matcha Ecole 42">
		<meta name="keywords" content="HTML,CSS,node.js,JavaScript,MySql">
		<meta name="author" content="Antoine Jouannais / Xavier Milleron">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/signin.css">
	<!--    
		<link rel='stylesheet' href='/stylesheets/style.css' />
	-->    </head>
 
    <body>
        <header>
        </header>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">Matcha</a>
			</div>
			<ul class="nav navbar-nav">
			  <li class="active"><a href="/todo">To do list partagée</a></li>	  
			  <% if (pseudo && profile == 'ADMIN') { %>
				<li><a href="/users">Menu administrateur</a></li>
			  <% } %>
			  <li><a href="/logout">Se deconnecter</a></li>
			</ul>
		  </div>
		</nav>
        <h1>Tchat temps réel</h1>
        <p>Les autres utilisateurs vous voient sous le nom de : <%= pseudo %></p>
        <section id="zone_chat">

			<form action="/tchat" method="post" id="formulaire_chat">
				<input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
				<input type="submit" id="envoi_message" value="Envoyer" />
			</form>		
        </section>
		<footer class="footer">
		<p class='text-muted'>ajouanna 2017</p> 
		</footer>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
        // cette fonction est placee ici pour avoir acces a la variable pseudo
        function pseudo() {
            return "<%= pseudo %>";
        }
        </script>
		<script src = "javascripts/tchat.js"></script>

    </body>
</html>