<!DOCTYPE html>
<html>
    <head>
        <title>Ma todolist</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
    </head>

    <body>
         <header>
            <div id="menu">
              <ul>
                <li><a class="menu_item" href="/tchat">Tchat</a></li>
                <li><a class="menu_item" href="/logout">logout</a></li>
              </ul>
            </div>
        </header>
        <h1>Todolist partagee</h1>
        <p><%= title %></p>
        <p>Les autres utilisateurs vous voient sous le nom de : <%= pseudo %></p>
        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li><a class="todo_item" href="/todo/supprimer/<%= index %>">✘</a> <%= todo %></li>
        <% }); %>
        </ul>

        <form id="formulaire_todo" action="/todo/ajouter/" method="post">
            <p>
                <label for="newtodo">Que dois-je faire ?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input id ="submit_button" type="submit" />
            </p>
        </form>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src = "javascripts/todo_client.js"></script>
    </body>
</html>